<main class="w-full h-full">
  <div class="w-full flex">
    <h1 class="p-10 mx-auto text-3xl font-bold text-[#ffb22c]">Whale TXs</h1>
  </div>

  <div
    class="w-[min(40%,50%)] h-[min(20rem,80%)] mx-auto p-5 bg-gray-900 text-white rounded-lg shadow-lg"
  >
    <div class="font-bold text-[clamp(1.2rem,23vw,23%)]">
      <a
        class="w-[1%] flex flex-row items-center gap-3 cursor-pointer hover:text-blue-300 transition-colors duration-300"
        ><span>Tag</span> 0x0123</a
      >
    </div>
    <div class="mt-6">
      <p>hash: 0xcf34234</p>
      <p class="text-red-600 font-semibold">out: 12ETH</p>
      <p class="text-green-600 font-semibold">in: 0ETH</p>
    </div>
    <div class="w-full justify-center mt-5 flex flex-row items-center gap-10">
      <div>
        <button
          class="bg-[#ffb22c] py-2 px-4 rounded-xl text-[#111827] font-medium hover:text-white hover:shadow-md hover:shadow-slate-500 transition-colors duration-300 delay-75"
        >
          See More
        </button>
      </div>
      <div>
        <button
          class="text-white hover:text-blue-400 transition-colors duration-300"
        >
          See the Address
        </button>
      </div>
    </div>
  </div>
</main>
