<nav class="w-full h-[92px] flex flex-row items-center bg-black p-5">
  <a class="text-[#FFB22C] Icon-style text-2xl font-bold pl-10">WhaleTracker</a>
  <div class="ml-auto flex flex-row gap-10 pr-10">
    <a
      href=""
      class="text-[#FFB22C] font-semibold text-base flex flex-row-reverse items-center gap-2"
    >
      Home <mat-icon>home</mat-icon>
    </a>
    <a
      href=""
      class="text-[#FFB22C] font-semibold text-base flex flex-row-reverse items-center gap-2"
    >
      Pricing <mat-icon>currency_bitcoin</mat-icon>
    </a>
    <a
      href=""
      class="text-[#FFB22C] font-semibold text-base flex flex-row-reverse items-center gap-2"
    >
      Gwei: <mat-icon>gas_meter</mat-icon>
    </a>
    <a
      href=""
      class="text-[#FFB22C] font-semibold text-base flex flex-row-reverse items-center gap-2"
    >
      Connect <mat-icon>account_balance_wallet</mat-icon>
    </a>
  </div>
</nav>

<app-header class="w-full h-full"></app-header>
