<div
  class="w-80 h-[min(14rem,80%)] p-5 bg-gray-900 text-white rounded-lg shadow-lg"
>
  <h2 class="text-xl font-bold text-[#FFB22C]"></h2>
  <p class="text-sm text-gray-400">Wallet:</p>
  <p class="text-sm text-gray-400">Balance: ETH</p>

  <div class="mt-3">
    <h3 class="text-md font-semibold text-[#FFB22C]">Recent Transactions</h3>
    <ul class="list-disc ml-5 text-sm text-gray-300">
      <!-- <li *ngFor="let tx of whale.transactions">
        Hash: {{ tx.hash }} - Amount: {{ tx.value }} ETH
      </li> -->
    </ul>
  </div>
</div>
