<main class="w-full h-full">
  <div class="w-full flex">
    <h1 class="p-10 mx-auto text-3xl font-bold text-[#ffb22c]">Your Wallets</h1>
  </div>

  <header
    class="w-full h-[min(30vh,60%)] flex flex-wrap gap-4 mt-20 justify-center"
  >
    <app-whale-card></app-whale-card>
  </header>

  <div class="w-full flex">
    <h1 class="p-10 mx-auto text-3xl font-bold text-[#ffb22c]">Whale TXs</h1>
  </div>

  <header class="w-full max-h-screen border-t flex flex-col gap-5">
    <app-whale-tx-card
      *ngFor="let tx of whaleTransactions"
      [ngClass]="'whale-tx-card'"
      [tag]="tx.from"
      [txHash]="tx.hash"
      [txOut]="tx.value"
      [to]="tx.to"
    >
      ></app-whale-tx-card
    >
  </header>
</main>
