<main class="w-full h-full">
  <div class="w-full flex">
    <h1 class="p-10 mx-auto text-3xl font-bold text-[#ffb22c]">Your Wallets</h1>
  </div>

  <header
    class="w-full h-[min(30vh,60%)] flex flex-wrap gap-4 mt-20 justify-center"
  >
    <app-whale-card></app-whale-card>
  </header>

  <div class="w-full flex justify-center items-center">
    <h1 class="w-full p-10 text-3xl font-bold text-[#ffb22c]">Whale TXs</h1>
    <div class="w-full ml-auto flex flex-row items-center gap-4 pr-20">
      <input
        #thresholdInput
        class="w-[min(30%,50%)] text-[clamp(0.8rem,23vw,23%)] p-2 rounded-xl"
        type="text"
        placeholder="add from 100,000 to 1,000,000,000 USDC"
      />
      <button
        (click)="setThreshold(thresholdInput.value)"
        class="bg-zinc-900 hover:bg-zinc-700 py-1 px-3 rounded-xl text-white font-medium transition-colors duration-300"
      >
        filter
      </button>
    </div>
  </div>

  <header class="w-full max-h-screen border-t flex flex-col gap-5">
    <app-whale-tx-card
      *ngFor="let tx of whaleTransactions"
      [ngClass]="'whale-tx-card'"
      [tag]="tx.from"
      [txHash]="tx.hash"
      [txOut]="tx.value"
      [to]="tx.to"
    >
      ></app-whale-tx-card
    >
  </header>
</main>
